<html>
<body>
<h1> Info about the webservers </h1>
<p> IP Address of webserver is {{ hostname }}</p>
<p> OS Family of webserver is {{ os_family }}</p>
<p> Distribution is {{ distribution }}</p>
</body>
</html>